
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,500;1,400;1,500&family=Karla:wght@300;400&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');


:root {
    --color-primary: #026773;
    --color-secondary: #6c757d;
    --color-accent: #ffc107;
    --color-background: whitesmoke;
    --color-navbar: aquamarine;
    --font-size-default: 16px;

  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}


nav{
    background-color:#e3f2fd;
    height: 95px;
    
}


.logo img {
    width: 5rem;
    margin: 5px;
    padding: 5px;
   
}



.nav-link a{
    color: black;
}


li:hover > a{
    background-color: var(--color-navbar);
    color: white;
    cursor: pointer;
    transform: 2seg;
    border-radius: 2px;
    
}
main{
    background-color: whitesmoke

}


.corusel-images {
   
    padding: 5px;
    border: 1px solid wheat;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px white
   
}
.card-text {
    text-align: left;
}

/*Servicio */
.servicios-ci {
    margin: 50px;
}


h2 {
    text-align: center;
    font-family: 'Arimo','Roboto';
}

p{
    text-align: center;
}

card {
    margin: 2px;
}

.card:hover{
    cursor: pointer;
    transition: all 1;
    transform: scale(1.1);
    
}


/*Footer */
footer {
    background-color:#45C4B0;
    border: 1px solid black;
  
    
}

