


@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,500;1,400;1,500&family=Karla:wght@300;400&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');


:root {
    --color-primary: #026773;
    --color-secondary: #6c757d;
    --color-accent: #ffc107;
    --color-background: whitesmoke;
    --color-navbar: aquamarine;
    --font-size-default: 16px;

  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}


nav{
    background-color:#e3f2fd;
    height: 95px;
    
}


.logo img {
    width: 5rem;
    margin: 5px;
    padding: 5px;
   
}



.nav-link a{
    color: black;
}


li:hover > a{
    background-color: var(--color-navbar);
    color: white;
    cursor: pointer;
    transform: 2seg;
    border-radius: 2px;
    
}
main{
    background-color: whitesmoke

}


.img-div {
  height: 100px;
  text-align: center;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 10px;
}

input,
select {
  border-radius: 4px;
  border: none;
}

input[type="text"] {
  width: 100%;
}

input[type="text"]::placeholder {
  text-align: center;
}

.btn-cancelar {
  background: red;
}

.btn-cancelar:hover {
  background: blue;
}


/*Footer */


footer {
  background-color:#45C4B0;
  border: 1px solid black;

  
}

